networks:
  airflow-net:
    driver: bridge

services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 30s
      timeout: 15s
      retries: 3
      start_period: 15s
    networks:
      - airflow-net

  airflow-init:
    build:
      context: .
      dockerfile: Dockerfile
    image: airflow-custom:latest
    container_name: airflow-init
    env_file:
      - .env
    command: bash -c "airflow db migrate"
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"
    networks:
      - airflow-net

  airflow:
    image: airflow-custom:latest
    container_name: airflow
    command: airflow standalone
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./dags:/opt/airflow/dags
      - ./plugins:/opt/airflow/plugins
      - airflow_data:/opt/airflow
    networks:
      - airflow-net

volumes:
  postgres_data:
  airflow_data: